.App {
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverCyan {
  @apply hover:text-cyan-300 hover:cursor-pointer transition duration-200;
}